* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #f7f7f7, #ececec);
  font-family: "inter", sans-serif;
  cursor: none;
}
html {
  scroll-behavior: smooth;
}


.cursor {
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;

  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;

  transition: transform 0.1s ease;
}

nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  background: #ffffff;
  border: 2px solid #000;
  border-radius: 40px;
  padding: 10px 20px;
  box-shadow: 4px 4px 0px #000;


  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  position: relative;
  text-decoration: none;
  opacity: 1;
  color: #111;
  font-size: 0.9rem;
  padding: 6px 10px;
  border-radius: 20px;
    cursor: none;

  transition: all 0.2s ease;
}

nav a:hover{
  background: #111;
  color: white;
}

nav a:active{
  transform: scale(0.95);
}

#theme-toggle{
  position: fixed;
  top: 20px;
  right: 20px;
  border: 2px solid #000;
  background: white;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;

  box-shadow: 2px 2px 0px #000;
  transition: all 0.2s ease;
}

#theme-toggle:hover{
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px #000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 120px 20px 60px;
}

@media (max-width: 500px){
  .container{
    padding: 80px 15px;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 900px){
  .grid{
    grid-template-columns: 1fr;
  }
}


.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 35px;
  gap: 15px;
  border-radius: 25px;
  background: #eaeaea;
  color: #111;

  border: 2px solid #000;

  box-shadow: 6px 6px 0px #000;
  transition: all 0.2s ease;
}

.card:hover{
  transform: translate(-6px, -6px);
  box-shadow: 10px 10px 0px #000;
}


.card, 
.project-card{
  transition: all 0.2s cubic-bezier(0.25, 1 0.25, 1);
}

.card,
.project-card{
  transition: all 0.25 cubic-bezier(0.25, 1, 0.5, 1);
}

h1 span {
  font-size: 1.4rem;
  font-weight: 700;
  opacity: 0.7;
  
}

.hero {
  grid-column: span 2;
  background: #d6c4f5;
  padding: 50px;
}



@media (max-width: 900px){
  .hero{
    grid-column: span 1;
  }
}

.grid .card:nth-child(2) {
  background: #c8f2d0;   
}

.grid .card:nth-child(3) {
  background: #f5e7b8;   
}

.projects {
  grid-column: span 2;
  background: #ffffff;
      display: block;
    flex-direction: column;

    min-height: 300px;
}

.hero-bottom{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 40px;
}

.hero{
  padding: 60px;
}

.hero-bottom p{
  flex: 1;
  max-width: 600px;
}

.hero-img{
  flex-shrink: 0;
  margin-left: auto;
  margin-top: -70px;

}

.hero-img img{
  width: 150px;
  height: auto;
  display: block;
  transform-style: preserve-3d;
  
 will-change: transform;
}

.hero-img img:hover {
  filter: drop-shadow(6px 6px 0px #000) brightness(1.05);
}

@media (max-width: 900px){
  .projects{
    grid-column: span 1;

  }
}

h1{
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

h2 {
  font-size: 0.5rem;
  margin-bottom: 12px;
}

.card h2 {
  font-size: 1rem;
  
}

h2{
  width: 180px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  
}

p {
  font-size: 1rem;
  opacity: 0.8;
  color: #444;
  line-height: 1.7;
}

.project-grid{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  cursor: default;
}

.skills-list span {
  padding: 8px 14px;
  border-radius: 20px;
  border: 2px solid #000;
  background: white;
  box-shadow: 2px 2px 0px #000;
  font-size: 0.85rem;
  transition: all 0.2s ease;
  cursor: none;
}

.skills-list span:hover {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px #000;
}

.project-card{
  width: 300px;
  padding: 15px;
  border-radius: 15px;
  background: white;
  border: 2px solid #000;
  box-shadow: 1px 4px 0px #000;

  transition: all 0.2s ease;
}

.project-card:hover{
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 0px #000;
}

.project-card h3 {
  margin-top: 5px;
  font-size: 1rem;
}

.project-image{
  height: 120px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-card button{
  margin-top: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  cursor: none;

  transition: all 0.2s ease;
}

.project-card button:hover{
  background: black;
  color: white;
}

.contact-links{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: #111;
    cursor: none;
  
  padding: 8px 30px;
  border-radius: 20px;

  border: 2px solid #000;
  background: white;
  box-shadow: 3px 3px 0px #000;

  transition: all 0.2s ease;
}

.contact-links a:hover{
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0px #000;
}

.contact-links i{
  width: 16px;
  height: 16px;
}

.about,
.contact,
.skills {
  grid-column: span 2;
}

body.dark{
  background: #111;
  color: #eee;
}

body.dark .cursor {
  border-color: white;
}



body.dark .card{
  background: #1a1a1a;
  color: #eee;
  border-color: #444;
  box-shadow: 6px 6px 0px #000;
}

body.dark nav{
  background: #1a1a1a;
  border-color: #444;
}

body.dark a {
  color: #eee;
}

body.dark p {
  color: #eee;
}

body.dark .skills-list span {
  background-color: #222;
  color: #eee;
  border-color: #444;
}

body.dark .project-card {
  background: #1f1f1f;
  border-color: #444;
}

body.dark .grid .card:nth-child(2),
body.dark .grid .card:nth-child(3) {
  background: #1a1a1a;
}

body.dark .contact-links a{
  background: #222;
  color: #eee;
  border-color: #444;
}

body.dark .contact-links a:hover {
  background: #333;
  color: #fff;
}